* {
    max-width: 1440px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.header-common {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.para-common {
    color: #5A5A5D;
}

.btn-common {
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

/* header section style */
.nav-container {
    margin: 35px 130px;
    display: flex;
    gap: 10px;
    justify-content: space-between;

}

.nav-container-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container-header h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.nav-container-menu {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-container-menu li {
    display: inline;
    list-style: none;
    padding: 15px;
}

.nav-container-menu a {
    text-decoration: none;
    color: #000000f5;
}

.special {
    color: orangered;
    font-weight: 700;
}

.banner {
    height: 600px;
    margin: 0 100px 0 130px;
    background-image: url(Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-color: rgba(211, 211, 211, 0.474);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    color: white;
    text-align: center;
}



























































@media screen and (max-width:600px) {
    .nav-container {
        flex-direction: column;
        margin: 8px;
    }
}