* {
    max-width: 1440px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.header-common {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.para-common {
    color: #5A5A5D;
}

.btn-common {
    background-color: orangered;
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    border-radius: 8px;
    border: none;
    width: 11.8rem;
    height: 2.8rem;
}

/* header section style */
.nav-container {
    margin: 2.05rem 8.125rem;
    display: flex;
    gap: 10px;
    justify-content: space-between;

}

.nav-container-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container-header h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.nav-container-menu {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-container-menu li {
    display: inline;
    list-style: none;
    padding: 1rem;
}

.nav-container-menu a {
    text-decoration: none;
    color: #000000f5;
}

.special {
    color: orangered;
    font-weight: 700;
}

.banner {
    height: auto;
    margin: 0 6.25rem 0 8.125rem;
    background-image: url(Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-color: rgba(211, 211, 211, 0.474);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    color: white;
    text-align: center;
    object-fit: cover;
}

.banner h1 {
    font-size: 64px;
    font-weight: 800;
    padding-top: 6.25rem;
    padding-bottom: 1.8rem;
}

.travel-info {
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.05rem;
}


.fa-solid {
    padding-right: 1rem;
}

.travel-info div {
    width: 170px;
    background: white;
    color: #000000f5;
    text-align: center;
}

.places-travel {
    display: flex;
}

#places {
    display: none;
}

#places:hover {
    display: block;
}

.fa-circle-chevron-down {
    border: none;
}




























































@media screen and (max-width:600px) {
    .nav-container {
        flex-direction: column;
        margin: 8px;
    }

    .banner {
        height: 600px;
    }

    .travel-info {
        margin: 15px;
        flex-direction: column;
        padding: 8px;
        gap: 10px;
        background: rgba(255, 255, 255, 0.426);
        border-radius: 8px;
    }

    .travel-info div {
        width: 250px;
        height: 45px;
        display: flex;
        justify-items: center;
        align-items: center;
        background: white;
        color: #000000f5;
        text-align: center;
    }

    .travel-info button {
        width: 250px;
    }
}