* {
    max-width: 1440px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.header-common {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.para-common {
    color: #5A5A5D;
}

.btn-common {
    background-color: orangered;
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    border-radius: 8px;
    border: none;
    width: 11.99rem;
    height: 2.8rem;
}

/* header section style */
.nav-container {
    margin: 2.05rem 8.125rem;
    display: flex;
    gap: 10px;
    justify-content: space-between;

}

.nav-container-header,
.copyright-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container-header h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.nav-container-menu {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-container-menu li {
    display: inline;
    list-style: none;
    padding: 1rem;
}

.nav-container-menu a {
    text-decoration: none;
    color: #000000f5;
}

.special {
    color: orangered;
    font-weight: 700;
}

.banner {
    height: 500px;
    margin: 0 6.25rem 0 8.125rem;
    background-image: url(Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-color: rgba(211, 211, 211, 0.474);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    color: white;
    text-align: center;
    object-fit: cover;
}

.banner h1 {
    font-size: 64px;
    font-weight: 800;
    padding-top: 6.25rem;
    padding-bottom: 1.8rem;
}

.travel-info {
    padding-top: 6.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.05rem;
}


.fa-solid {
    padding-right: 1rem;
}

.travel-info div {
    width: 170px;
    background: white;
    color: #000000f5;
    text-align: center;
}

form {
    display: flex;
}

#places {
    display: none;
}

#places:hover {
    display: block;
}

/* some tours section style */

.some-tours {
    margin: 1.8rem 6.5rem;
    display: flex;
    justify-content: space-between;

}

.some-tours-description {
    width: 48%;
}

.some-tours-profile-picture {
    width: 48%;
    height: auto;
    background-image: url(Images/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-color: rgba(211, 211, 211, 0.474);
    background-position: center;
    background-size: cover;
}

.some-tours-profile-picture img {
    width: 100%;
}

.some-tours-description li {
    margin-top: 20px;
}

.some-tours-description h2 {
    margin-bottom: 20px;
}

.destination,
.chose-us {
    margin: 1.5rem 8.25rem;
}

.destination-text,
.chose-us-text {
    height: auto;
    text-align: center;
    margin: 0 10rem;
    padding: 2rem 0;
}

.destination-text h2 {
    margin-bottom: 1rem;
}

.destination-images,
.chose-us-card {
    display: grid;
    height: auto;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;

}


.destination-heading {
    position: relative;
}

.destination-images-text {
    position: absolute;
    top: 50%;
    right: 38%;
    color: white;
}

.destination-images img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 5px 0;
}

.img1 {
    grid-column: 1/ 7;
}

.img2 {
    grid-column: 7/ 13;
}

.img3 {
    grid-column: 1/ 4;
}

.img4 {
    grid-column: 4/ 10;
}

.img5 {
    grid-column: 10/ 13;
}

.img6 {
    grid-column: 1/ 5;
}

.img7 {
    grid-column: 5/ 13;
}

.chose-us-card {
    row-gap: 20px;
}

.chose-us-card h1 {
    margin-bottom: 15px;
}

.chose-us-card h2 {
    margin-bottom: 15px;
}


.card1 {
    grid-column: 1/ 7;
    width: 100%;
    height: 100%;
    background: rgba(251, 209, 130, 0.203);
    border-radius: 16px;
    padding: 10%;
}

.card2 {
    grid-column: 7/ 13;
    width: 100%;
    height: 100%;
    background-color: rgb(197, 248, 248);
    border-radius: 16px;
    padding: 10%;
}

.card3 {
    grid-column: 4/ 10;
    width: 100%;
    height: 100%;
    background-color: rgb(227, 227, 221);
    border-radius: 16px;
    padding: 10%;
}

/* nesletter section style */

.newsletter-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
    gap: 15px;

}

.newsletter-section-sign-up {
    width: 48%;
    height: 422px;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgba(112, 128, 144, 0.317);

}

.newsletter-section-sign-up p {
    margin-top: 1rem;

}

.newsletter-section-sign-up hr {
    background-color: #ffffffd0;
}

.sign-up-form input {
    width: 100%;
    height: 45px;
    background-color: lavender;
    border: none;
    border-radius: 8px;

}

.sign-up-form button {
    width: 100%;
    height: 45px;

}

.packages-discount {
    width: 48%;
    height: 422px;
    border-radius: 10px;
    background-image: url(Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.packages-discount-70 {
    width: fit-content;
    height: 90px;
    text-align: center;
    background: #e67e22;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(-20.99deg) translate(35px) scale(0.7) skew(5deg);

}

/* footer section style */
.footer-section {

    background-color: #e0e0e0b5;
}

.copyright-header {
    padding: 2.5rem 0;
}

.footer-text {
    text-align: center;
}

.footer-text p {
    margin-bottom: 2.5rem;
}

.footer-text hr {
    margin: 2rem 0;
}

.copywright {
    padding-bottom: 2.5rem;
}

.social span {
    font-size: 1.9rem;
    margin-right: 2rem;
    text-align: center;
}

























































@media screen and (max-width:600px) {
    .nav-container {
        flex-direction: column;
        margin: 8px;
    }

    .banner {
        height: 600px;
    }

    .travel-info {
        margin: 5px;
        flex-direction: column;
        padding: 8px;
        gap: 10px;
        background: rgba(255, 255, 255, 0.426);
        border-radius: 8px;
    }

    .banner {
        margin: 15px;
    }

    .banner h1 {
        padding: 0.25rem 1rem;
    }

    .travel-info div {
        width: 100%;
        height: 50px;
        display: flex;
        justify-items: center;
        align-items: center;
        background: white;
        color: #000000f5;
        text-align: center;
    }

    .btn-common {
        width: 100%;
        font-weight: normal;
        font-size: 18px;
    }

    .some-tours {
        margin: 0.8rem 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .some-tours div {
        width: 100%;
    }

    .some-tours-profile-picture {
        height: 300px;
    }

    .destination-text,
    .chose-us-text {
        margin: 5px;
        padding: 4px;
    }

    .destination-images,
    .chose-us-card {
        display: block;
        width: 100%;
        height: auto;
    }

    .destination-images-text {
        position: absolute;
        top: 50%;
        right: 50%;
        color: white;
    }

    .destination,
    .chose-us {
        margin: 0.5rem 1.25rem;
    }

    .chose-us-card>.card1,
    .card2,
    .card3 {
        margin-bottom: 15px;
    }

    .newsletter-section {

        flex-direction: column;
        align-items: center;
        margin: 0.5rem 1.25rem;
    }

    .newsletter-section-sign-up,
    .packages-discount {
        width: 100%;
    }

}